## Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
build/
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
packages/
*.snupkg
project.assets.json

## Test results
[Tt]est[Rr]esult*/
**/CoverletSourceRootsMapping_*

## Rider
.idea/

## OS files
.DS_Store
Thumbs.db
desktop.ini
